{% load static %}

<html>
<head>
    <title>personal development record</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blogg.css' %}">

</head>
<body>
<div class="page-header">

    <h1><a href="/">Coop personal development blog </a></h1>
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<div class="post">

        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
</div>
    <h2><a href="/">Posts</a></h2>


<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <h2><a href="{% url 'post_detail' pk=post.id  %}">{{ post.title }}</a></h2>
                        <p>published: {{ post.published_date }}</p>
                    </div>

                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>

